@media only screen and (max-width:2560px) {

	ul.icons1 li {
		padding: 0px 11.5em 0px 78px;
	}

}
@media only screen and (max-width:1920px) {

}
@media only screen and (max-width:1440px) {

}
@media only screen and (max-width:1081px) {

	.image-slider div img {
		display: flex;
	}

	.image-slider div {
		display: block;
		height: 700
		flex
	}

}
@media only screen and (max-width:749px) {

	.image-slider div img {
		display: none;
	}

	.column img {
		display: flex;
	}

	.image-slider div {
		opacity: 1;
		display: none;
	}

}
